body {
  color: #F2F2F2;
  background: #333333;
}

h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.display {
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
  border: 5px solid #F2F2F2;
  border-radius: 50%;
}
